body{
    background-color: navajowhite;
    padding:10px;
}
.heading{
    outline-width: 10px;
    outline-color: black;
    outline-style:double;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    margin:30px
}
.subheading{
    font-size: 20px;
    border-width: 3px;
    border-color: black;
    border-style:dotted;
    margin:10px;
    padding:10px;
    font-style:italic;
}
.picture{
    width: 300px;
    height: 300px;
    border-width: 8px;
    border-color: black;
    border-style:dotted;
    border-radius:50%;
    text-align:center;
}