h2{
    color:navajowhite
}
li{
    color:rgb(5, 155, 145);
}
p{
    color:#eab01c;
}
body{
background: rgb(30,30,30);
}
.header{
    color:navajowhite;
    outline-width: 4px;
    outline-style:double;
    outline-color:navajowhite;
    text-align:center;

}
.intro{
    background-color: rgb(15, 15, 15);
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}
.main{
    background-color: rgb(15, 15, 15);
    font-size: larger;
    text-align:center;
    padding:1px;
    margin:1px;
}    
.stats{
    outline-width: 4px;
    outline-style:double;
    outline-color:navajowhite;
    text-align:left;
    
}

.footer{
    background-color: rgb(15, 15, 15);
    font-size: larger;
    outline-width: 4px;
    outline-style:double;
    outline-color:navajowhite;
    text-align:center;
    padding:1px;
    margin:1px;
}
#warriors{
    color: aqua;
}