h2{
    color:navajowhite
}
li{
    color:rgb(5, 155, 145);
}
p{
    color:#eab01c;
}
body{
background: rgb(30,30,30);
}
.header{
    color:navajowhite;
    outline-width: 4px;
    outline-style:double;
    outline-color:navajowhite;

}
.intro{
    background-color: rgb(15, 15, 15);
    font-size: larger;
}
.main{
    background-color: rgb(15, 15, 15);
    font-size: larger;
    outline-width: 4px;
    outline-style:groove;
    outline-color:navajowhite;
}
.footer{
    background-color: rgb(15, 15, 15);
    font-size: larger;
    outline-width: 4px;
    outline-style:double;
    outline-color:navajowhite;
}
#warriors{
    color: aqua;
}